body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #8ca4f1; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.timeline {
    width: 50%; 
    max-width: 600px; 
    background: rgb(190, 199, 243);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.event {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: transform 0.2s;
}

.event:hover {
    transform: scale(1.02); 
} 

.navigate-button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.navigate-button:hover {
    background-color: #0056b3; 
}

input[type="range"] {
    margin-top: 20px;
    width: 70%;
}
